---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&q=Paris&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1747548000,"main":{"temp":7.7,"feels_like":6.87,"temp_min":7.7,"temp_max":9.95,"pressure":1020,"sea_level":1020,"grnd_level":1010,"humidity":90,"temp_kf":-2.25},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":1.64,"deg":3,"gust":2.87},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-05-18
        06:00:00"},{"dt":1747558800,"main":{"temp":10.47,"feels_like":9.64,"temp_min":10.47,"temp_max":16.02,"pressure":1020,"sea_level":1020,"grnd_level":1010,"humidity":79,"temp_kf":-5.55},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":2.12,"deg":353,"gust":2.82},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-05-18
        09:00:00"},{"dt":1747569600,"main":{"temp":16.57,"feels_like":15.69,"temp_m[...]
