---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&q=Tokyo&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1747515600,"main":{"temp":22,"feels_like":22.42,"temp_min":21.63,"temp_max":22,"pressure":1006,"sea_level":1006,"grnd_level":1004,"humidity":83,"temp_kf":0.37},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":45},"wind":{"speed":3.11,"deg":223,"gust":5.83},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-05-17
        21:00:00"},{"dt":1747526400,"main":{"temp":22.55,"feels_like":22.95,"temp_min":22.55,"temp_max":23.65,"pressure":1006,"sea_level":1006,"grnd_level":1004,"humidity":80,"temp_kf":-1.1},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":54},"wind":{"speed":1.28,"deg":11,"gust":1.98},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-05-18
        00:00:00"},{"dt":1747537200,"main":{"temp":24.96,"feels_like":25.31,"t[...]
